/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
=============== 
Variables
===============
*/
:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-warning: #ffbb55;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--clr-light);

  --transition: all 0.3s linear;
}

/*
=============== 
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
  font-size: 0.88rem;
  background: var(--clr-background);
  user-select: none;
  overflow: hidden;
}

a {
  color: var(--clr-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 1.8rem;
  font-weight: 800;
}

h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
}

h3 {
  font-size: 0.87rem;
  font-size: 1rem;
  text-transform: capitalize;
}
h4 {
  font-size: 0.77rem;
}
small {
  font-size: 0.75rem;
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}
.text-muted {
  color: var(--clr-info-dark);
}
p {
  color: var(--clr-dark-variant);
}
b {
  color: var(--clr-dark);
}
.primary {
  color: var(--clr-primary);
}

.danger {
  color: var(--clr-danger);
}
.success {
  color: var(--clr-success);
}

.warning {
  color: var(--clr-warning);
}

aside {
  height: 100vh;
}
